MONGODB_DATABASE=EyesSimulator
MONGODB_USER=admin
MONGODB_PASSWORD=XAgentDb123!
MONGODB_HOST=34.142.197.147
MONGODB_PORT=27017

# Authentication
JWT_SECRET=krgN0q1e6yrrSicAQi6hGbwX7W9rfcDvT+SoRxBHR4o=